<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    button{
    background: rgb(201, 79, 79);
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #00BCD4;
    transition-duration: 2s;
}
</style>
    <title>Document</title>
</head>
<body>
   <div class="container">
         <div class="container">
    <h1>Biblioteca</h1>
    <nav>
        <ul>
            <ul><a href="{% url 'Inicio' %}">inicio</a></ul>
            <ul><a href="{% url 'Listar_libros' %}">Libros</a></ul>
            <ul><a href="{% url 'Ejemplar' %}">Ejemplares</a></ul>
            <ul><a href="#">Prestamos</a></ul>
        </ul>
    </nav>
    {% block principal%}
        <p>Bloque principal</p>
    {% endblock %}
    </div>
 </div> 
</body>
</html>