{% extends 'base.html' %}
{% block principal %}

    <h2>Listado de libros</h2>

    <table class="table table-dark">
        <tr>
            <th>
                Ejemplar
            </th>
            <th>
                Libro
            </th>
            <th>
                Fecha de Ejemplar
            </th>
            <th>
                Editar
            </th>
            <th>
                Borrar
            </th>
        </tr>
        {% for libro in object_list %}
        <tr>
            <td>
                <a href="{% url 'Detalle_Ejemplar' libro.pk %}">{{ libro.numeroejemplar }}</a>
            </td>
            <td>
                {{ libro.Libro}}
            </td>
            <td>
               {{ libro.fechadecompra}}
            </td>

            </td>
            <td>
                <a href="{% url 'Editar_Ejemplar' libro.id %}">Editar</a>
            </td>
            <td>
                <a href="{% url 'Eliminar_Ejemplar' libro.id %}">Borrar</a>
            </td>
        </tr>
        {% endfor%}

    </table>
    <p><a href="{% url 'Nuevo_Ejemplar' %}">Crear nuevo ejemplar</a></p>
    </div>  
    {% endblock %}
